@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f8f9fa] text-[#202124] font-sans antialiased selection:bg-blue-100 selection:text-blue-800;
  }
}

/* Custom Scrollbars */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f1f3f4;
}
::-webkit-scrollbar-thumb {
  background: #dadce0;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #bdc1c6;
}
